# global requirements
gunicorn==22.0.0
{% if cookiecutter.project_backend == "fastapi" %}
uvicorn==0.23.2
{% endif %}

{% if cookiecutter.project_backend == "django" %}
# django requirements
django
django-crispy-forms
crispy-bootstrap4
whitenoise
azure-monitor-opentelemetry
{% if 'postgres' in cookiecutter.db_resource %}
psycopg2
{% endif %}
{% endif %}
